<!DOCTYPE html>
<html ng-app="JeopardyApp" ng-controller="boardController" ng-init="loadClues()">
    <head>
        <link rel="stylesheet" href="/style/board.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="/scripts/boardController.js" defer></script>
    </head>
    <body>
        <ul ng-if="jeopardyRound" id="jeopardyBoard">
            <li ng-repeat="category in jeopardyClues">
                <table>
                    <thead>
                        <tr>
                            <th>{{ category[0].Category }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="clue in category">
                            <td ng-click="showClue(clue)">${{ clue.Value }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <ul ng-if="doubleJeopardyRound" id="doubleJeopardyBoard">
            <li ng-repeat="category in doubleJeopardyClues">
                <table>
                    <thead>
                        <tr>
                            <th>{{ category[0].Category }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="clue in category">
                            <td ng-click="showClue(clue)">${{ clue.Value }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <div ng-if="activeClue" id="clueScreen">
            <div id="clueText">{{ activeClue.Clue }}</div>
            <div id="clueInfo">
                <p>Category: {{ activeClue.CategoryID }}</p>
                <p>Clue: {{ activeClue.ClueID }}</p>
            </div>
        </div>
    </body>
</html>